<form class="form" name="{{formName}}">
    <div class="form-group">
        {{{inputLogin}}}
    </div>
    <div class="form-group">
        {{{inputPassword}}}
    </div>
    {{{buttonSubmit}}}
    {{{buttonSignUp}}}
</form>