<form class="form" name="register">
    <div class="form-group">
        {{{inputEmail}}}
        <span id="error-email" class="form-error"></span>
    </div>
    <div class="form-group">
        {{{inputLogin}}}
        <span id="error-login" class="form-error"></span>
    </div>
    <div class="form-group">
        {{{inputFirstName}}}
        <span id="error-first-name" class="form-error"></span>
    </div>
    <div class="form-group">
        {{{inputSecondName}}}
        <span id="error-second-name" class="form-error"></span>
    </div>
    <div class="form-group">
        {{{inputPhone}}}
        <span id="error-phone" class="form-error"></span>
    </div>
    <div class="form-group">
        {{{inputPassword}}}
        <span id="error-password" class="form-error"></span>
    </div>
    <div class="form-group">
        {{{inputRepeatPassword}}}
        <span id="error-repeat-password" class="form-error"></span>
    </div>
    {{{buttonSubmit}}}
    {{{buttonSignIn}}}
</form>