<form class="form" name="{{formName}}">
    <div class="form-group">
        {{{inputEmail}}}
    </div>
    <div class="form-group">
        {{{inputLogin}}}
    </div>
    <div class="form-group">
        {{{inputFirstName}}}
    </div>
    <div class="form-group">
        {{{inputSecondName}}}
    </div>
    <div class="form-group">
        {{{inputPhone}}}
    </div>
    <div class="form-group">
        {{{inputPassword}}}
    </div>
    <div class="form-group">
        {{{inputRepeatPassword}}}
    </div>
    {{{buttonSubmit}}}
    {{{buttonSignIn}}}
</form>
