<ul class="page-list">
    <li class="page-link">{{{loginButton}}}</li>
    <li class="page-link">{{{registrationButton}}}</li>
    <li class="page-link">{{{chatPageButton}}}</li>
    <li class="page-link">{{{profilePageButton}}}</li>
    <li class="page-link">{{{errorPageButton}}}</li>
    <li class="page-link">{{{serverErrorPageButton}}}</li>
</ul>
